parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Facades\\Hash\:\:make\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/RegisterController.php

		-
			message: '#^Binary operation "\*" between 7 and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Http/Controllers/BDController.php

		-
			message: '#^Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\Model\:\:update\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/CommentController.php

		-
			message: '#^Parameter \#1 \$attributes of static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Comment\>\:\:create\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/CommentController.php

		-
			message: '#^Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\Model\:\:update\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/DueShiftController.php

		-
			message: '#^Parameter \#1 \$attributes of static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\DueShift\>\:\:create\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/DueShiftController.php

		-
			message: '#^Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\Model\:\:update\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/EmployeeController.php

		-
			message: '#^Parameter \#1 \$staffgroup of method App\\Services\\Helper\:\:staffgroupMayReceiveEMail\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/EmployeeController.php

		-
			message: '#^Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\Model\:\:update\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/EpisodeController.php

		-
			message: '#^Parameter \#1 \$attributes of static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Episode\>\:\:create\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/EpisodeController.php

		-
			message: '#^Cannot call method add\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Controllers/RawplanController.php

		-
			message: '#^Cannot call method errors\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Controllers/RawplanController.php

		-
			message: '#^Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\Model\:\:update\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/RawplanController.php

		-
			message: '#^Parameter \#1 \$attributes of static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Rawplan\>\:\:create\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/RawplanController.php

		-
			message: '#^Binary operation "\+\=" between \(float\|int\) and mixed results in an error\.$#'
			identifier: assignOp.invalid
			count: 2
			path: app/Http/Controllers/ReportController.php

		-
			message: '#^Cannot call method orWhere\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/ReportController.php

		-
			message: '#^Cannot call method where\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/ReportController.php

		-
			message: '#^Parameter \#1 \$array of function uasort contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ReportController.php

		-
			message: '#^Parameter \#2 \$callback of function uasort contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/ReportController.php

		-
			message: '#^Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\Model\:\:update\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/StaffgroupController.php

		-
			message: '#^Parameter \#1 \$attributes of static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Staffgroup\>\:\:create\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/StaffgroupController.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^Cannot call method url\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: app/Services/Helper.php

		-
			message: '#^Binary operation "\*" between \(float\|int\) and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: app/Services/Helper.php

		-
			message: '#^Binary operation "\*" between mixed and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 4
			path: app/Services/Helper.php

		-
			message: '#^Binary operation "\+" between mixed and \(float\|int\) results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: app/Services/Helper.php

		-
			message: '#^Binary operation "\+\=" between mixed and float results in an error\.$#'
			identifier: assignOp.invalid
			count: 2
			path: app/Services/Helper.php

		-
			message: '#^Binary operation "\+\=" between mixed and mixed results in an error\.$#'
			identifier: assignOp.invalid
			count: 4
			path: app/Services/Helper.php

		-
			message: '#^Binary operation "/" between mixed and 12 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset ''bonus_planned_nefs'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset ''bonus_planned_nights'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset ''diff_planned_nefs'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset ''diff_planned_nights'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset ''highlight_row'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset ''planned_nefs'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset ''planned_nights'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset ''worked_nefs'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset ''worked_nights'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset ''yearly_mean'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset int\<1, 12\> on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 5
			path: app/Services/Helper.php

		-
			message: '#^Cannot access offset mixed on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: app/Services/Helper.php

		-
			message: '#^Cannot call method from\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/Helper.php

		-
			message: '#^Cannot call method orWhereNull\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Helper.php

		-
			message: '#^Cannot call method selectRaw\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/Helper.php

		-
			message: '#^Cannot call method where\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: app/Services/Helper.php

		-
			message: '#^Cannot call method whereRaw\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/Helper.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: app/Services/Helper.php

		-
			message: '#^Parameter \#1 \$array of function array_sum expects array, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Services/Helper.php

		-
			message: '#^Parameter \#1 \$array of function ksort expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Helper.php

		-
			message: '#^Parameter \#1 \$num of function round expects float\|int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Helper.php

		-
			message: '#^Parameter \#2 \$array of function array_key_exists expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Helper.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Helper.php
